
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        Google Maps
      </div>
      <div >
        
        <div *ngFor="let discussion of discussions">
            <div class="card-body ">
                <div class="card card-stats">
                  <div class="card-body ">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                          <i class="nc-icon nc-globe text-warning"></i>
                        </div>
                      </div>
                      <div class="col-7 col-md-8">
                        <div class="numbers">
                          <p class="card-category">{{ discussion.title }}</p>
                          <p class="card-title">{{ discussion.type }}
                            <p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer ">
                    <hr>
                    <div class="stats">
                      <i class="fa fa-refresh"></i> Update Now
                    </div>
                  </div>
                </div>
              </div>
        </div>
        
      </div>
      
    </div>
  </div>
</div>
